@font-face {
    font-family: 'Futura LT';
    src: url('FuturaLT-Bold.eot');
    src: url('FuturaLT-Bold.eot?#iefix') format('embedded-opentype'),
        url('FuturaLT-Bold.woff2') format('woff2'),
        url('FuturaLT-Bold.woff') format('woff'),
        url('FuturaLT-Bold.ttf') format('truetype'),
        url('FuturaLT-Bold.svg#FuturaLT-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro 6';
    src: url('NeueHaasGroteskDisplayPro65Medium.eot');
    src: url('NeueHaasGroteskDisplayPro65Medium.eot?#iefix') format('embedded-opentype'),
        url('NeueHaasGroteskDisplayPro65Medium.woff2') format('woff2'),
        url('NeueHaasGroteskDisplayPro65Medium.woff') format('woff'),
        url('NeueHaasGroteskDisplayPro65Medium.ttf') format('truetype'),
        url('NeueHaasGroteskDisplayPro65Medium.svg#NeueHaasGroteskDisplayPro65Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro 7';
    src: url('NeueHaasGroteskDisplayPro75Bold.eot');
    src: url('NeueHaasGroteskDisplayPro75Bold.eot?#iefix') format('embedded-opentype'),
        url('NeueHaasGroteskDisplayPro75Bold.woff2') format('woff2'),
        url('NeueHaasGroteskDisplayPro75Bold.woff') format('woff'),
        url('NeueHaasGroteskDisplayPro75Bold.ttf') format('truetype'),
        url('NeueHaasGroteskDisplayPro75Bold.svg#NeueHaasGroteskDisplayPro75Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro 5';
    src: url('NeueHaasGroteskDisplayPro55Roman.eot');
    src: url('NeueHaasGroteskDisplayPro55Roman.eot?#iefix') format('embedded-opentype'),
        url('NeueHaasGroteskDisplayPro55Roman.woff2') format('woff2'),
        url('NeueHaasGroteskDisplayPro55Roman.woff') format('woff'),
        url('NeueHaasGroteskDisplayPro55Roman.ttf') format('truetype'),
        url('NeueHaasGroteskDisplayPro55Roman.svg#NeueHaasGroteskDisplayPro55Roman') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}