@import 'var.css';
@import 'basics.css';

header {
    background-color: var(--purple-color);
}

.topic {
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    .to_main {
        display: flex;
        gap: 12px;
    }
    .head {
        .content {
            width:1200px;
            h1 {
                font-size: 64px;
            }
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

        .authors {
            display: flex;
            flex-direction: column;
            gap: 15px;
            .inf {
                display: flex;
                flex-direction: column;
                gap: 15px;
            }
        }
        display: flex;
        align-items: end;
        gap: 64px;

    }
}

.bread_crumbs {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    border-bottom: solid 4px var(--accent-color);
    border-top: solid 4px var(--accent-color);
    margin-top: 32px;
    margin-bottom: 32px;
    .crumbs {
        display: flex;
        gap: 12px;
    }
    .time {
        display: flex;
        gap: 4px;
    }
}

.image {
    img {
        width: 100%;
    }
}

.part1 {
    display: flex;
    flex-direction: row;
    padding: 30px 0;
    gap: 64px;

    div {
        display: flex;
        flex-direction: column;
        gap: 16px;
        span {
            font-family: var(--subtitle-font);
            font-size: 24px;
        }
        margin: 15px 0;
    }

    .pink {
        border: solid 2px var(--accent-color);
        border-bottom: solid 4px;
        border-right: solid 4px;
        width: 358px;
        padding: 32px;
        font-family: var(--primary-font);
    }
}

.subtopic {
    margin-bottom: 32px;
}

.part2 {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 64px;
    .point1 {
        display: flex;
        justify-content: space-between;
        p {
            width: 780px;
        }
    }
}

.max {
    display: flex;
    gap: 32px;
    .content {
        p {
            width: 750px;
        }
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .icon {
        img {
            width: 100px;
        }
    }
    align-items: center;
    padding: 64px 0;
}

.part-2 {
    display: flex;
    // flex-direction: column;
    align-items: end;
}

.conclution {
    h3 {
        width: 748px;
        margin-bottom: 48px;
    }
}

.continue {
    img {
        width: 100%;
    }
    padding: 16px 0 64px 0;
}