@import 'fonts.scss';

:root {
    --title-font: "Futura LT", sans-serif;
    --subtitle-font: "Neue Haas Grotesk Display Pro 6", sans-serif;
    --primary-font: "Neue Haas Grotesk Display Pro 5", sans-serif;

    --primary-color: #F5F6FB;
    --orange-color: #FFAD64;
    --purple-color: #C3BEF8;
    --blue-color: #C0EFDB;
    --pink-color: #FFB2ED;
    --accent-color: #050131;
}